{% extends 'backend/base.html' %}
{% load humanize %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <form method="get" class="card-header">
            {{ myFilter.form }}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                        
                        <!-- start loop -->
                        {% for pvp in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{pvp.product.title}} <br> Created at : {{pvp.created_at|naturaltime }}</td>
                        <td>{{pvp.product.description}}</td>
                        <td>
                            <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                                <!-- start loop -->
                                <dt class="col-sm-3 pb-0">
                                    {{pvp.product_variant_one}} / {{pvp.product_variant_two}} / {{pvp.product_variant_three}}
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{pvp.price}}</dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{pvp.stock}}.</dd>
                                    </dl>
                                </dd>
                                <!-- end loop -->
                               
                            </dl>
                            <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                            </button>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="" class="btn btn-success">Edit</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- end loop -->
                    </tbody>

                </table>
            </div>

        </div>

        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p>Showing 1 to {{object_list.count}} out of {{objCount}}</p>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% for i in rng %}
                        <li>
                            <button>
                                <a href="?page={{ forloop.counter }}">{{forloop.counter}}</a>
                              </button>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <h3>Your File Exam</h3>
                        <p>File not yet available</p>
                {% endif %}
                
              </div>
        </div>
    </div>
{% endblock %}